<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{translateConfigService.text.friends_requests}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="none" *ngFor="let request of requests; let i = index">
        <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
            <h3>{{request.email}}</h3>
            <p>{{translateConfigService.text.friend_request_say_hello}}</p>
        </ion-label>
        <ion-button expand="full" shape="round" color="primary" (click)="accept(request.id, i)">{{translateConfigService.text.accept}}</ion-button>
    </ion-item>
    <ion-text class="text-center" color="dark" *ngIf="!requests || requests.length == 0">
        <p>{{translateConfigService.text.friend_request_no_request}}</p>
        <p>{{translateConfigService.text.Friend_request_suggestion}} <a (click)='addFriend()'>{{translateConfigService.text.here}}</a></p>
    </ion-text>
</ion-content>