<app-header [enableMore]="true"></app-header>
<ion-content>
    <ion-item-divider (click)="createPost()">
        <ion-avatar slot="start">
            <img [src]="authService.userProfile.avatar | imageUrl">
        </ion-avatar>
        <ion-label>How do you feel?</ion-label>
    </ion-item-divider>
    <ion-row>
        <ion-col size="12" *ngFor="let item of data.items">
            <ion-card>
                <ion-card-subtitle>
                    <ion-item lines="none">
                        <ion-avatar slot="start">
                            <img [src]="item.user.avatar | imageUrl">
                        </ion-avatar>
                        <ion-label>{{item.user.name}}</ion-label>
                    </ion-item>
                </ion-card-subtitle>


                <img *ngFor="let fileModel of item.fileModels" [src]="fileModel.url | imageUrl" />

                <ion-card-content>
                    <p [innerHTML]="item.content | safeHtml"></p>
                    <ion-buttons>
                        <ion-button>
                            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                        </ion-button>
                        <ion-button>
                            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>