<app-header [enableMore]="true"></app-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item-divider (click)="createPost()">
        <ion-avatar slot="start">
            <img [src]="authService.userProfile.avatar | imageUrl">
        </ion-avatar>
        <ion-label>How do you feel?</ion-label>
    </ion-item-divider>
    <ion-row>
        <ion-col class="card-col" size="12" *ngFor="let item of data.items">
            <ion-item-divider>
                <ion-card>
                    <ion-card-subtitle>
                        <ion-item lines="none">
                            <ion-avatar slot="start">
                                <img [src]="item.user.avatar | imageUrl">
                            </ion-avatar>
                            <ion-label>
                                <h3>{{item.user.name}}</h3>
                                <p>{{item.createdDateTime | date:'short'}}</p>
                            </ion-label>
                        </ion-item>
                    </ion-card-subtitle>


                    <img *ngFor="let fileModel of item.fileModels" [src]="fileModel.url | imageUrl" />

                    <ion-card-content>
                        <p [innerHTML]="item.content | safeHtml"></p>
                        <ion-buttons>
                            <ion-button (click)="like(item)">
                                <img *ngIf="!item.isLiked" src="/assets/SVG/icons8-heart-2light.svg" alt="" style="width: 2.4em;">
                                <img *ngIf="item.isLiked" src="/assets/SVG/icons8-heart.svg" alt="" style="width: 3em;">
                            </ion-button>
                            <ion-button (click)="commentPost(item)">
                                <img src="/assets/SVG/icons8-comments.svg" alt="" style="width: 2.1em;">
                            </ion-button>
                        </ion-buttons>
                    </ion-card-content>
                </ion-card>
            </ion-item-divider>
        </ion-col>
    </ion-row>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" #infiniteScroll>
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>