<app-header [enableMore]="true"></app-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item *ngFor="let message of messages" (click)="chat(message.userEmail)">
        <ion-avatar slot="start">
            <img src="{{message.avatar | imageUrl}}">
        </ion-avatar>
        <ion-label>
            <h3>{{message.userEmail}}</h3>
            <p [innerHtml]="message.message | safeHtml"></p>
        </ion-label>
    </ion-item>
</ion-content>