<!-- https://codepen.io/drehimself/pen/KdXwxR -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-chip *ngIf="user" style="background: none;" (click)="userInfo()">
            <ion-avatar>
                <img [src]="user.avatar | imageUrl">
            </ion-avatar>
            <ion-label>{{user.name}}</ion-label>
        </ion-chip>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="chat">
        <div class="chat-history">
            <ul>
                <li class="clearfix" *ngFor="let message of chatHistory.items">
                    <div class="message-data" [ngClass]="{'align-right': message.isMyself}">
                        <span class="message-data-name">
                            <img [src]="message.isMyself ? '/assets/characters/kidaha-01.svg' : user.funnyIcon" style="width: 13vw;">
                        </span>
                    </div>
                    <div class="message" [ngClass]="{'other-message float-right': message.isMyself, 'my-message': !message.isMyself, 'bg-transparent': message.hasImage}" [innerHtml]="message.message | safeHtml"></div>
                </li>
            </ul>
        </div>
        <!-- end chat-history -->
    </div>
</ion-content>
<ion-footer>
    <app-message-box [disableVideoSelection]="true" (onSend)="send($event)" (onSelectImage)="onSelectImage($event)"></app-message-box>
</ion-footer>