<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{translateConfigService.text.friends_requests}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <ion-toolbar>
            <h5>{{translateConfigService.text.friend_request_title}}</h5>
        </ion-toolbar>
        <ion-toolbar>
            <ion-searchbar slot="start" type="email" inputmode="email" [(ngModel)]="email"></ion-searchbar>
            <ion-buttons slot="secondary">
                <ion-button color="primary" shape="round" (click)="search()">{{translateConfigService.text.search}}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </div>
</ion-content>