<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{translateConfigService.text.friends_requests}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container">
        <ion-item lines="none">
            <ion-label>{{translateConfigService.text.friend_request_title}}</ion-label>
        </ion-item>
        <ion-toolbar>
            <ion-searchbar style="padding-bottom: 0;" slot="start" type="email" inputmode="email" mode="ios" [(ngModel)]="email"></ion-searchbar>
            <ion-buttons slot="secondary">
                <ion-button (click)="search()">{{translateConfigService.text.search}}</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </div>
</ion-content>