<app-header [enablePersonAdd]="true" [enableNotification]="true"></app-header>
<ion-content>
    <ion-row>
        <ion-col size="6" *ngFor="let user of users">
            <ion-card>
                <img [src]="user.avatar | imageUrl" (click)="userInfo(user)" />
                <span>{{user.name || user.email}}</span>
                <ion-card-content>
                    <ion-row>
                        <ion-col>
                            <div class="name">
                                <ion-icon *ngIf="!user.isLiked" name="heart-outline" (click)="like(user)"></ion-icon>
                                <ion-icon *ngIf="user.isLiked" name="heart" style="color: crimson;"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div>
                                <ion-icon name="chatbubble-outline" (click)="chat(user)"></ion-icon>
                            </div>
                        </ion-col>
                        <ion-col size="8"></ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>