.grid {
    ion-card {
        margin: 0;
        margin-top: 6px;
        img {
            width: 100%;
            height: 240px;
            object-fit: cover;
        }
        span {
            position: absolute;
            top: 210px;
            left: 0;
            padding: 0 5px;
            color: white;
            opacity: 0.8;
        }
    }
    ion-card-content {
        padding: 0;
    }
    ion-card-content fa-icon {
        margin-right: 6px;
        color: red;
    }
    ion-card-content ion-icon {
        margin-right: 0;
        font-size: 17px;
    }
    ion-card-content {
        .name,
        .distance {
            font-size: 13px;
            margin: 0;
        }
        .name {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.special {
    ion-card {
        img.avatar {
            width: 100%;
            max-height: 48vh;
            object-fit: cover;
        }
        div.floating {
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: flex-end;
            right: 5px;
            bottom: 59px;
        }
    }
}

div.suggested {
    width: 100vw;
    display: -webkit-inline-box;
    overflow: scroll;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}