<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{translateConfigService.text.user_info_title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="card">
        <img src="https://images.unsplash.com/photo-1593697821028-7cc59cfd7399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="John" style="width:100%;height:25vh;object-fit:cover;">
        <h3>{{user?.email}}</h3>
        <p>Something about you here...</p>
        <section>
            <ion-row>
                <ion-col></ion-col>
                <ion-col size="5">
                    <ion-button (click)="mode = modeTypes.diary" size="small" expand="full" [color]="mode == modeTypes.diary ? 'primary' : 'light'">{{translateConfigService.text.user_info_diary}}</ion-button>
                </ion-col>
                <ion-col size="5">
                    <ion-button (click)="mode = modeTypes.album" size="small" expand="full" [color]="mode == modeTypes.album ? 'primary' : 'light'">{{translateConfigService.text.user_info_album}}</ion-button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </section>
        <app-divider></app-divider>
        <ion-card-content>
            <p *ngIf="user && !user.isFriend">{{translateConfigService.text.user_info_make_friend_title}}</p>
            <ion-toolbar *ngIf="user && !user.isFriend">
                <section>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="4">
                            <ion-button size="small" expand="full" shape="round" color="primary" (click)="addFriend()">{{translateConfigService.text.user_info_make_friend_add}}</ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button size="small" expand="full" shape="round" color="light" (click)="chat()">{{translateConfigService.text.user_info_make_friend_chat}}</ion-button>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </section>
            </ion-toolbar>
        </ion-card-content>
    </div>
    <div class="chat" *ngIf="user && user.isFriend && loggedInUser.email != user.email">
        <ion-button color="light" size="small" shape="round" (click)="chat()">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            Chat
        </ion-button>
    </div>
</ion-content>