<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{translateConfigService.text.user_info_title}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="card">
        <img src="{{user.cover | imageUrl}}" alt="John" style="width:100%;height:25vh;object-fit:cover;">
        <h3>{{user?.name}}</h3>
        <p>{{user?.email}}</p>
        <section>
            <ion-row>
                <ion-col></ion-col>
                <ion-col size="5">
                    <ion-button (click)="mode = modeTypes.diary" size="small" expand="full" [color]="mode == modeTypes.diary ? 'primary' : 'light'">{{translateConfigService.text.user_info_diary}}</ion-button>
                </ion-col>
                <ion-col size="5">
                    <ion-button (click)="mode = modeTypes.album" size="small" expand="full" [color]="mode == modeTypes.album ? 'primary' : 'light'">{{translateConfigService.text.user_info_album}}</ion-button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </section>
        <app-divider></app-divider>
        <ion-card-content>
            <p *ngIf="user.friendShip.state != userState.accepted && !isMe">{{translateConfigService.text.user_info_make_friend_title}}</p>
            <ion-toolbar *ngIf="user.friendShip.state == userState.none && !isMe">
                <section>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="4">
                            <ion-button size="small" expand="full" shape="round" color="primary" (click)="addFriend()">{{translateConfigService.text.user_info_make_friend_add}}</ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button size="small" expand="full" shape="round" color="light" (click)="chat()">{{translateConfigService.text.user_info_make_friend_chat}}</ion-button>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </section>
            </ion-toolbar>
            <ion-toolbar *ngIf="user.friendShip.state == userState.requested && user.friendShip.senderId == user.id && !isMe">
                <section>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="6">
                            <ion-button size="small" expand="full" shape="round" color="primary" (click)="accept()">Accept</ion-button>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </section>
            </ion-toolbar>
            <ion-toolbar *ngIf="user.friendShip.state == userState.requested && user.friendShip.receiverId == user.id && !isMe">
                <section>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="6">
                            {{translateConfigService.text.user_info_already_sent_request}}
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </section>
            </ion-toolbar>
        </ion-card-content>
    </div>
    <div class="chat" *ngIf="!isMe">
        <ion-button color="light" size="small" shape="round" (click)="chat()">
            <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            Chat
        </ion-button>
    </div>
</ion-content>