.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    height: 100%;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.chat {
    position: absolute;
    bottom: 10px;
    right: 10px;
}