<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="!isMe" (click)="chat()">
                <img src="/assets/SVG/icons8-speech-bubble.svg" style="width: 3.2em;" /> Chat
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="card">
        <img class="cover" [src]="user.cover | imageUrl">
        <div class="avatar">
            <ion-fab-button class="btn-avatar" size="large">
                <img [src]="user.avatar | imageUrl">
            </ion-fab-button>
        </div>
        <h3>{{user?.name}}</h3>
        <p>{{user?.email}}</p>
        <!-- <section>
            <ion-row>
                <ion-col></ion-col>
                <ion-col size="5">
                    <ion-button (click)="mode = modeTypes.diary" size="small" expand="full" [color]="mode == modeTypes.diary ? 'primary' : 'light'">{{translateConfigService.text.user_info_diary}}</ion-button>
                </ion-col>
                <ion-col size="5">
                    <ion-button (click)="mode = modeTypes.album" size="small" expand="full" [color]="mode == modeTypes.album ? 'primary' : 'light'">{{translateConfigService.text.user_info_album}}</ion-button>
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </section> -->
        <app-divider></app-divider>
        <ion-card-content>
            <p *ngIf="(!user.friendShip || user.friendShip.state != userState.accepted) && !isMe">{{translateConfigService.text.user_info_make_friend_title}}</p>
            <ion-toolbar *ngIf="!user.friendShip && !isMe">
                <section>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="4">
                            <ion-button size="small" expand="full" shape="round" color="primary" (click)="addFriend()">{{translateConfigService.text.user_info_make_friend_add}}</ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button size="small" expand="full" shape="round" color="light" (click)="chat()">{{translateConfigService.text.user_info_make_friend_chat}}</ion-button>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </section>
            </ion-toolbar>
            <ion-toolbar *ngIf="user.friendShip && user.friendShip.state == userState.requested && user.friendShip.senderId == user.id && !isMe">
                <section>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="6">
                            <ion-button size="small" expand="full" shape="round" color="primary" (click)="accept()">Accept</ion-button>
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </section>
            </ion-toolbar>
            <ion-toolbar *ngIf="user.friendShip && user.friendShip.state == userState.requested && user.friendShip.receiverId == user.id && !isMe">
                <section>
                    <ion-row>
                        <ion-col></ion-col>
                        <ion-col size="6">
                            {{translateConfigService.text.user_info_already_sent_request}}
                        </ion-col>
                        <ion-col></ion-col>
                    </ion-row>
                </section>
            </ion-toolbar>
        </ion-card-content>
    </div>

    <ion-row *ngIf="(user.friendShip && user.friendShip.state == userState.accepted) || isMe">
        <ion-col class="card-col" size="12" *ngFor="let item of postsData.items">
            <ion-item-divider>
                <ion-card>
                    <ion-card-subtitle>
                        <ion-item lines="none">
                            <ion-avatar slot="start">
                                <img [src]="item.user.avatar | imageUrl">
                            </ion-avatar>
                            <ion-label>
                                <h3>{{item.user.name}}</h3>
                                <p>{{item.createdDateTime | date:'short'}}</p>
                            </ion-label>
                        </ion-item>
                    </ion-card-subtitle>


                    <img *ngFor="let fileModel of item.fileModels" [src]="fileModel.url | imageUrl" />

                    <ion-card-content>
                        <p [innerHTML]="item.content | safeHtml"></p>
                        <ion-buttons>
                            <ion-button (click)="like(item)">
                                <img *ngIf="!item.isLiked" src="/assets/SVG/icons8-heart-2light.svg" alt="" style="width: 2.4em;">
                                <img *ngIf="item.isLiked" src="/assets/SVG/icons8-heart.svg" alt="" style="width: 3em;">
                            </ion-button>
                            <ion-button (click)="commentPost(item)">
                                <img src="/assets/SVG/icons8-comments.svg" alt="" style="width: 2.1em;">
                            </ion-button>
                        </ion-buttons>
                    </ion-card-content>
                </ion-card>
            </ion-item-divider>
        </ion-col>
    </ion-row>

    <ion-infinite-scroll *ngIf="(user.friendShip && user.friendShip.state == userState.accepted) || isMe" threshold="100px" (ionInfinite)="loadData($event)" #infiniteScroll>
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>