<app-header [enablePersonAdd]="true" [enableNotification]="true"></app-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item-group>
        <ion-item lines="none" (click)="navigateToFriendRequests()">
            <ion-icon slot="start" color="warning" name="person-circle-outline"></ion-icon>
            <ion-label>{{translateConfigService.text.friends_requests}}</ion-label>
        </ion-item>
    </ion-item-group>
    <ion-item-group>
        <ion-item-divider>
            <ion-label>{{translateConfigService.text.friends_list}}</ion-label>
        </ion-item-divider>
        <ion-item lines="none" *ngFor="let friend of friends" (click)="userInfo(friend)">
            <ion-avatar slot="start">
                <img src="{{ friend.avatar | imageUrl }}">
            </ion-avatar>
            <ion-label>
                <h3>{{friend.name}}</h3>
                <p></p>
            </ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>