@using Microsoft.AspNetCore.Identity
@using Auth.WebApp._Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="get" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/identity/account/register?returnUrl=@(ViewContext.RouteData.Values["returnUrl"] ?? '/')">Register</a></li>
        <li><a href="/account/login?returnUrl=@(ViewContext.RouteData.Values["returnUrl"] ?? '/')">Login</a></li>
    </ul>
}
